<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicalcare.user.mapper.UserMapper" >
    <select id="getUserByUserId" parameterType="java.lang.Integer"  resultType="com.medicalcare.user.pojo.UserBaseInfo">
        select  * from userbaseinfo where userId=#{userId}
    </select>



    <insert id="addUserByUser" parameterType="com.medicalcare.user.pojo.UserBaseInfo">
      INSERT INTO medicalcare(userId,userName,userPassword,userPhone,userAddress,userBitrh,userSex,userStatus)
		VALUE(#{userId},#{userName},#{userPassword},#{userPhone},#{userAddress},#{userBitrh},#{userSex},#{userStatus})

    </insert>

    <update id="updateUserBaseInfo"  parameterType="com.medicalcare.user.pojo.UserBaseInfo">
      update medicalcare set userId=#{userId},userName=#{userName},userPassword=#{userPassword},userPhone=#{userPhone},userAddress=#{userAddress}
      userBirth=#{userBirth},userSex=#{userSex},userStatus=#{userStatus} where userId=#{userId}

    </update>

    <update id="deleteUserByUserStatus" parameterType="com.medicalcare.user.pojo.UserBaseInfo">
        update medicalcare set userStatus="0" where userId=#{userId}
    </update>
</mapper>